frame border {
    border-radius: 6px;
    border: 1px solid alpha(@theme_fg_color, 0.2);
}

frame label.label-widget {
    color: @theme_fg_color;
    margin-left: 5px;
    margin-right: 5px;
}


expander arrow {
    -gtk-icon-source: url("../assets/expander_collapsed.png");
    margin-right: 5px;
}

expander arrow:checked {
    -gtk-icon-source: url("../assets/expander_expanded.png");
}

statusbar frame border{
    border: none;
    border-radius: 0px;
}

paned separator, paned separator:hover {
    border: none;
    background: @theme_bg_color;
    -gtk-icon-source: none;
}


.view {
    color: @theme_fg_color;
    background-color: @theme_bg_color; 
}

rubberband,
flowbox rubberband,
treeview.view rubberband,
.content-view rubberband,
.rubberband, view rubberband,
.view.rubberband,  /* In order to see the selected content, The box dragged by the mouse needs to be transparent. */
.rubberband {
    border-width: 1px;
    border-style: solid;
    border-color: shade(@theme_selected_bg_color, 0.7);
    background: none;
    background-color: alpha(@theme_selected_bg_color, 0.4); 
}

.mate-panel-menu-bar button.toggle#showdesktop-button {
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    min-width: 12px;
    border-radius: 0px;
    border-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
}

.mate-panel-menu-bar button.toggle#showdesktop-button:checked, button.toggle#showdesktop-button:checked:hover {
    background: rgba(255, 255, 255, 0.4);
}

.mate-panel-menu-bar button.toggle#clock-applet-button {
    font-size: 9pt;
}

MatePanelAppletFrameDBus>MatePanelAppletFrameDBus {
    background: url("../assets/panel-grid-horizontal.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

.wnck-pager {
    background-color: rgba(255, 255, 255, 0.1);
}

.wnck-pager:selected {
    background-color: rgba(255, 255, 255, 0.3);
}

.wnck-pager:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

PanelToplevel.horizontal PanelSeparator {
    background: url("../assets/panel-grid-horizontal.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

PanelToplevel.vertical PanelSeparator {
    background: url("../assets/panel-grid-vertical.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

PanelToplevel>grid {
    background-color: @taskbar_bg_color;
    border-style: outset;
    border-width: 0px;
    border-color: rgba(255, 255, 255, 0.2);
}

PanelToplevel.horizontal.bottom>grid {
    border-top-width: 1px;
}

PanelToplevel.horizontal.top>grid {
    border-bottom-width: 1px;
}

PanelToplevel.vertical.left>grid {
    border-right-width: 1px;
}

PanelToplevel.vertical.right>grid {
    border-left-width: 1px;
}

entry.cell.flat {
    background: #ffffff;
}

.mate-panel-menu-bar {
    color: @taskbar_fg_color;
    background-color: @taskbar_bg_color;
}


.mate-panel-menu-bar button, .mate-panel-menu-bar button.flat {
    background-color: transparent;
}

.mate-panel-menu-bar button:hover, .mate-panel-menu-bar button.flat:hover {
    background: rgba(255, 255, 255, 0.1);
}

.mate-panel-menu-bar button:checked, .mate-panel-menu-bar button.flat:checked {
    background: rgba(255, 255, 255, 0.2);
}

.mate-panel-menu-bar, .mate-panel-menu-bar .menubar {
    background-color: @taskbar_bg_color;
}

.mate-panel-menu-bar menubar, .mate-panel-menu-bar menubar menuitem, .mate-panel-menu-bar togglebutton {
    border-color: transparent;
    background-color: transparent;
}

.mate-panel-menu-bar .menubar>.menuitem {
    padding-top: 0;
    padding-bottom: 0;
}

.mate-panel-menu-bar GtkMenu .label {
    color: @theme_fg_color;
    font-style: normal;
}

.mate-panel-menu-bar GtkMenu .label:disabled {
    color: @theme_disabled_fg_color;
}

.mate-panel-menu-bar .button:not(#tasklist-button) {
    color: @taskbar_fg_color;
    border-radius: 0;
    border: none;
    background-color: @taskbar_bg_color;
}

.mate-panel-menu-bar .button:not(#tasklist-button):hover {
    border: none;
    background-color: shade(@taskbar_bg_color, 1.1);
}

.mate-panel-menu-bar .button:not(#tasklist-button):active, .mate-panel-menu-bar .button:not(#tasklist-button):checked {
    color: @theme_selected_fg_color;
    border: none;
    background-color: @theme_selected_bg_color;
}

.mate-panel-menu-bar #tasklist-button {
    color: @taskbar_fg_color;
    border-radius: 0;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
}

.mate-panel-menu-bar #tasklist-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.mate-panel-menu-bar #tasklist-button:checked, .mate-panel-menu-bar #tasklist-button:active {
    color: @theme_selected_fg_color;
    background-color: rgba(255, 255, 255, 0.2);
}

.mate-panel-menu-bar PanelSeparator {
    color: transparent;
    background: url("../assets/panel-grid.png");
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.mate-panel-menu-bar na-tray-applet {
    -NaTrayApplet-icon-padding: 5;
    -NaTrayApplet-icon-size: 16;
}

.mate-panel-menu-bar #PanelApplet label {
    color: @taskbar_fg_color;
}

.mate-panel-menu-bar .caja-desktop.entry, .mate-panel-menu-bar .caja-navigation-window .view.entry {
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    border-color: shade(@theme_selected_bg_color, 0.7);
    background-color: @theme_theme_bg_color;
}

.mate-panel-menu-bar .caja-desktop.entry:selected, .mate-panel-menu-bar .caja-navigation-window .view.entry:selected {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}
