

toolbar toolbutton button.image-button, toolbar toolbutton button.text-button, toolbar button:not(.combo) {
    min-height: 22px;
    padding: 4px 8px 4px 8px;
    border-width: 1px;
    border-radius: 6px;
    background: @theme_bg_color;
    color: @theme_fg_color;
}


toolbar toolbutton:focus {
    outline: 1px dashed rgba(0, 0, 0, 0.8);
    outline-offset: -2px;
}

toolbar button:disabled {
    border-color: transparent;
}

popover.background {
    border: 1px solid alpha(@theme_fg_color, 0.25);
    padding: 10px 2px 10px 2px;
}

toolbar toolbutton button.popup {
    min-width: 12px;
    padding: 0px;
}

toolbar button.text-button {
    min-width: 42px;
}

toolbar button.image-button {
    min-width: 22px;
}

toolbar toolbutton button:hover {
    background: alpha(#000000, 0.05);
    border-radius: 2px;
    color: @theme_fg_color;
}

toolbar toolbutton button:active {
    background: alpha(#000000, 0.1);
    border-radius: 2px;
    color: @theme_fg_color;
}

toolbar.horizontal separator {
    margin: 0px 5px 0px 5px;
}

toolbar.horizontal, toolbar.vertical {
    background: @theme_bg_color;
}

toolbar, toolbar.horizontal {
    min-height: 22px;
    border: none;
}