window {
    &.mate-panel-menu-bar,
    &#PanelPlug {
        /* background-color: red; */
    }
}

MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
    background: url("../assets/panel-grid-horizontal.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}
  
PanelToplevel {


    &.horizontal {
        PanelSeparator {
            background: url("../assets/panel-grid-horizontal.png");
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: left;
            color: transparent;
        }

        &.bottom > grid {
            border-top-width: 1px;
        }

        &.top > grid {
            border-bottom-width: 1px;
        }
    }

    &.vertical {
        PanelSeparator {
            background: url("../assets/panel-grid-vertical.png");
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center;
            color: transparent;
        }

        &.left > grid {
            border-right-width: 1px;
        }
    
        &.right > grid {
            border-left-width: 1px;
        }
    }
}