assistant {
    .sidebar {
        background-color: gtk("@theme_window_background_normal");
        border-top: 1px solid gtk("@theme_window_border_normal");
        border-right: 1px solid gtk("@theme_window_border_normal");

        &:backdrop {
            background-color: gtk("@theme_window_background_backdrop");
            border-color: gtk("@theme_window_border_backdrop");
        }
    }

    &.csd .sidebar {
        border-top-style: none;
    }

    .sidebar label {
        padding: 6px 12px;
    }

    .sidebar label.highlight {
        background-color: gtk("@theme_widget_background_checked");
    }
}