

colorswatch {
    background: none;
}

colorswatch.top {
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px; }
  colorswatch.top overlay {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
colorswatch.bottom {
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px; }
  colorswatch.bottom overlay {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }
colorswatch.left, colorswatch:first-child:not(.top) {
  border-top-left-radius: 2.5px;
  border-bottom-left-radius: 2.5px; }
  colorswatch.left overlay, colorswatch:first-child:not(.top) overlay {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
colorswatch.right, colorswatch:last-child:not(.bottom) {
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px; }
  colorswatch.right overlay, colorswatch:last-child:not(.bottom) overlay {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }
colorswatch.dark overlay {
  color: gtkalpha(gtk("@light_shadow"), 0.7); }
  colorswatch.dark overlay:hover {
    border-color: gtkalpha(gtk("@dark_shadow"), 0.5); }
colorswatch.light overlay {
  color: gtkalpha(gtk("@light_shadow"), 0.7); }
  colorswatch.light overlay:hover {
    border-color: gtkalpha(gtk("@dark_shadow"), 0.3); }
colorswatch overlay {
  border: 1px solid gtkalpha(gtk("@dark_shadow"), 0.15); }
  colorswatch overlay:hover {
    background-color: gtkalpha(gtk("@light_shadow"), 0.2); }
colorswatch:disabled {
  opacity: 0.5; }
  colorswatch:disabled overlay {
    border-color: gtkalpha(gtk("@dark_shadow"), 0.6);
    box-shadow: none; }

button.color {
  padding: 0; }
  button.color colorswatch:first-child:last-child, button.color colorswatch:first-child:last-child overlay {
    margin: 4px;
    border-radius: 0; }