
scrolledwindow overshoot.top, scrolledwindow overshoot.bottom, scrolledwindow overshoot.right, scrolledwindow overshoot.left, scrolledwindow undershoot.top, scrolledwindow undershoot.bottom, scrolledwindow undershoot.right, scrolledwindow undershoot.left {
    outline: none;
    box-shadow: none;
    background: none;
    min-width: 0px;
    min-height: 0px;
}

scrolledwindow viewport, viewport {
    border: none;
    box-shadow: none;
}

scrolledwindow junction {
    background: none;
    min-width: 5px;
    min-height: 5px;
    border: none;
}

scrolledwindow {
    border-radius: 0px;
    border: 1px solid gtkalpha(gtk("@textview_bg_color"), 0.3);
    margin: 5px;
}

scrollbar {
    -GtkScrollbar-has-backward-stepper: 0;
    -GtkScrollbar-has-forward-stepper: 0;
    border-image: none;
    background: transparent;
    border: none;
}

scrollbar trough {
    border: none;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    padding: 0px;
    background: none;
    min-width: 6px;
}

scrollbar trough slider {
    border: none;
    border-radius: 0px;
    background: rgba(0, 0, 0, 0.15);
    padding: 0px;
}

scrollbar trough slider:hover {
    background: rgba(0, 0, 0, 0.3);
}

scrollbar trough slider:active {
    background: rgba(0, 0, 0, 0.4);
}

scrollbar.vertical slider {
    min-height: 12px;
    min-width: 6px;
    margin: 0px 2px 0px 0px;
    padding: 0px;
}

scrollbar.horizontal slider {
    min-width: 12px;
    min-height: 6px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0px;
}

scrollbar.horizontal button, scrollbar.vertical button {
    min-width: 6px;
    min-height: 6px;
}
