@charset "UTF-8";

/* GtkStackSwitcher */
stackswitcher button.radio {
    border-radius: $RadiusLittle $RadiusLittle 0px 0px;
    border: none;
    padding: 8px 10px 8px 10px;
}

stackswitcher button.radio:not(:last-child) {
    margin-right: 2px;
}

