/* GtkListBox */
list row {
    background: gtk("@theme_bg_color");
    color: gtk("@theme_fg_color");
    border: 0px solid transparent;
    border-radius: 0px;
    border-right-width: 2px;
    padding: 5px;
}

list row:hover {
    background: gtk("@container_hover_color");
}

list row:active {
    background: gtk("@container_active_color");
}

list row:selected {
    background: gtk("@container_selected_color");
}

list row image:first-child:not(:last-child) {
    margin-right: 10px;
}

/* GtkStackSwitcher */
stackswitcher button.radio {
    border-radius: 4px 4px 0px 0px;
    border: none;
    padding: 8px 10px 8px 10px;
}

stackswitcher button.radio:not(:last-child) {
    margin-right: 2px;
}

/* GtkNoteBook */
notebook, notebook header {
    color: gtk("@theme_fg_color");
    background: none;
    box-shadow: none;
}

notebook tab {
    border: none;
    background: gtk("@widgets_bg_color");
}

notebook header.top tabs > tab,
notebook header.bottom tabs > tab {
    min-height: 30px;
    min-width: 100px;
}

notebook header.top tabs > tab {
    margin: 0px;
    border-radius: 4px 4px 0px 0px;
}

notebook header.bottom tabs > tab {
    margin: 0px;
    border-radius: 0px 0px 4px 4px;
}

notebook header.top tabs > tab:not(:last-child),
notebook header.bottom tabs > tab:not(:last-child)
{
    margin-right: 2px;
}

notebook header.left tabs tab,
notebook header.right tabs tab {
    min-width: 100px;
    min-height: 30px;
}

notebook header.left tabs tab {
    margin: 0px;
    border-radius: 4px 0px 0px 4px;
}

notebook header.right tabs tab {
    margin: 0px;
    border-radius: 0px 4px 4px 0px;
}

notebook header.left tabs tab:not(:last-child),
notebook header.right tabs tab:not(:last-child)
{
    margin-bottom: 2px;
}

notebook tab:hover{
    background: gtk("@widgets_hover_color");
}

notebook tab:checked {
    outline: none;
    background: gtk("@widgets_selected_color");
}

notebook stack {
    border: 1px solid gtk("@widgets_border_color");
    background: none;
}