
textview.view {
    background: gtk("@textview_bg_color");
}


textview.view text selection, GtkTextView text selection {
    background: gtk("@widgets_selected_color");
    color: gtk("@theme_fg_color");
}
